@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap');
@tailwind base;
@css {
  html {
    font-size: 12pt;
    height: 100%;
    width: 100%;
  }
  body {
    @apply font-body;
    height: 100%;
    width: 100%;
  }
  h1 {
    @apply font-heading;
    @apply text-4xl;
    @apply mb-3;
  }
  h2 {
    @apply font-heading;
    @apply text-2xl;
    @apply mb-3;
  }
  h3 {
    @apply font-body;
    @apply font-bold;
    @apply text-xl;
    @apply mb-3;
  }
  h4 {
    @apply text-xl;
    @apply font-bold;
    @apply border-b-2;
    @apply border-orange-500;
  }
  ol {
    @apply list-decimal;
    @apply list-inside;
    @apply mb-3;
  }
  ul {
    @apply list-disc;
    @apply list-inside;
    @apply mb-3;
  }
  p {
    @apply mb-3;
  }
  a {
    @apply text-orange-500;
  }
  a:focus,
  a:hover {
    @apply underline text-orange-300;
  }
  table {
    @apply w-full;
  }
}
@tailwind components;
@tailwind utilities;
