@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap');
@tailwind base;
@css {
  html {
    font-size: 16pt;
  }
  body {
    @apply font-body;
  }
  h1 {
    @apply font-heading;
    @apply text-4xl;
  }
  h2 {
    @apply font-heading;
    @apply text-2xl;
  }
  h3 {
    @apply font-heading;
    @apply text-xl;
  }
  a {
    @apply text-orange-500;
  }

  a:focus, a:hover {
    @apply underline text-orange-300;
  }
}
@tailwind components;
@tailwind utilities;
